# Maven
**/target/
*.class
*.log

# Node
**/node_modules/
**/dist/
.env
.env.*.local

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Local Maven Binary
.maven/
